###############################################################
#
#	Application controller configuration file
#
#   To ad an action use this scheme:
#		<actionName> <classname>
#   For example:
# CrearCliente CommandCrearCliente
#
###############################################################
# Commands
addmodifyitem controller.commands.imp.CommandAddModifyItem
adminlogin controller.commands.imp.CommandAdminLogin
itemlist controller.commands.imp.CommandItemList
putadditemincart controller.commands.imp.CommandPutAddItemInCart
removedeductitemfromcart controller.commands.imp.CommandRemoveDeductItemFromCart
removeitem controller.commands.imp.CommandRemoveItem
submitcart controller.commands.imp.CommandSubmitCart
viewcart controller.commands.imp.CommandViewCart
changeadminpassword controller.commands.imp.CommandChangeAdminPassword